/*
fonia-css v1.0.0 - di desain oleh Nelsen Niko :: Framecss Framework CSS Indonesia
*/
@charset "UTF-8";

:root {
    /* warna fonts */
    --light-green: #99b433;
    --green: #00a300;
    --dark-green: #1e7145;
    --magenta: #FF00FF;
    --light-purple: #9f00a7;
    --purple: #7e3878;
    --dark-purple: #603cba;
    --darken: #1d1d1d;
    --teal: #20c997;
    --light-blue: #eff4ff;
    --blue: #2d89ef;
    --dark-blue: #2b5797;
    --yellow: #ffc40d;
    --orange: #e3a21a;
    --dark-orange: #da532c;
    --red: #ee1111;
    --dark-red: #b91d47;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #808080;
    --cyan: #0dcaf0;
    --pink: #d63384;

    /* ukuran fonts */
    --fs8: 8px;
    --fs10: 10px;
    --fs12: 12px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs22: 22px;
    --fs24: 24px;
    --fs26: 26px;
    --fs28: 28px;
    --fs30: 30px;
    --fs32: 32px;
    --fs34: 34px;
    --fs36: 36px;
    --fs38: 38px;
    --fs40: 40px;
    --fs42: 42px;
    --fs44: 44px;
}

* {
    box-sizing: border-box;
    font-size: auto;
}

.font-bold {
    font-weight: bold;
}
.font-lighter {
    font-style: lighter;
}
.font-normal {
    font-style: normal;
}
.font-oblique {
    font-style: oblique;
}

.font-italic {
    font-style: italic;
}
.font-underline {
    text-decoration: underline
}
.font-uppercase {
    text-transform: uppercase;
}
.font-line-through {
    text-decoration: line-through
}
.decoration-none {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}


/* font-color */
.light-green {
    color: var(--light-green);
}
.green {
    color: var(--green);
}
.dark-green {
    color: var(--dark-green);
}
.magenta {
    color: var(--magenta);
}
.light-purple {
    color: var(--light-purple);
}
.purple {
    color: var(--purple);
}
.dark-purple {
    color: var(--dark-purple);
}
.darken {
    color: var(--darken);
}
.teal {
    color: var(--teal);
}
.light-blue {
    color: var(--light-blue);
}
.blue {
    color: var(--blue);
}
.dark-blue {
    color: var(--dark-blue);
}
.yellow {
    color: var(--yellow);
}
.orange {
    color: var(--orange);
}
.dark-orange {
    color: var(--dark-orange);
}
.red {
    color: var(--red);
}
.dark-red {
    color: var(--dark-red);
}
.white {
    color: var(--white);
}
.black {
    color: var(--black);
}
.gray {
    color: var(--gray);
}
.cyan {
    color: var(--cyan);
}
.pink {
    color: var(--pink);
}

/* background-color */
.bg-light-green {
    background-color: var(--light-green);
}
.bg-green {
    background-color: var(--green);
}
.bg-dark-green {
    background-color: var(--dark-green);
}
.bg-magenta {
    background-color: var(--magenta);
}
.bg-light-purple {
    background-color: var(--light-purple);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-dark-purple {
    background-color: var(--dark-purple);
}
.bg-darken {
    background-color: var(--darken);
}
.bg-teal {
    background-color: var(--teal);
}
.bg-light-blue {
    background-color: var(--light-blue);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-dark-blue {
    background-color: var(--dark-blue);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-orange {
    background-color: var(--orange);
}
.bg-dark-orange {
    background-color: var(--dark-orange);
}
.bg-red {
    background-color: var(--red);
}
.bg-dark-red {
    background-color: var(--dark-red);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-cyan {
    background-color: var(--cyan);
}
.bg-pink {
    background-color: var(--pink);
}


[class*="bg-"] {
    width: 100%;
    padding: 15px;
    margin: 0;
}

/* Generic Font Family */
.serif {
   font-family: serif; 
}
.sans-serif {
    font-family: sans-serif;
}
.monospace {
    font-family: monospace; 
}
.cursive {
    font-family: cursive;
}
.fantasy {
    font-family: fantasy;
}

/* font-family */
.arial {
    font-family: "Arial", sans-serif;
}
.georgia {
    font-family: "Georgia", serif;
}
.verdana {
    font-family: "Verdana", sans-serif;
}
.tahoma {
    font-family: "Tahoma", sans-serif;
}
.courier {
    font-family: "Courier", monospace;
}
.garamond {
    font-family: "Garamond", serif;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
.helvetica {
    font-family: 'Helvetica', sans-serif;
}
.calibri {
    font-family: 'Calibri', sans-serif;
}
.times {
    font-family: 'Times New Roman', serif;
}
.trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
}
.palatino {
    font-family: 'Palatino', 'Palatino Linotype', serif;
}
.arial-narrow {
    font-family: 'Arial Narrow', sans-serif;
}
.brush-script {
    font-family: 'Brush Script', cursive;
}
.candara {
    font-family: 'Candara', sans-serif;
}
.didot {
    font-family: 'Didot', serif;
}
.lucida-bright {
    font-family: 'Lucida Bright', serif;
}
.monaco {
    font-family: 'Monaco', monospace;
}
.optima {
    font-family: 'Optima', sans-serif;
}
.cambria {
    font-family: 'Cambria', serif;
}
.dm-sans {
    font-family: 'DM Sans', sans-serif;
}
.geneva {
    font-family: 'Geneva', sans-serif;
}
.copperplate {
    font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
}
.papyrus {
    font-family: 'Papyrus', fantasy;
}


/* font-size */
.size-32px {
    font-size: var(--fs32);
}
.size-24px {
    font-size: var(--fs24);
}
.size-18px {
    font-size: var(--fs18);
}
.size-16px {
    font-size: var(--fs16);
}
.size-14px {
    font-size: var(--fs14);
}
.size-12px {
    font-size: var(--fs12);
}


h1 {
    font-size: var(--fs32);
}
h2 {
    font-size: var(--fs24);
}
h3 {
    font-size: var(--fs18);
}
h4 {
    font-size: var(--fs16);
}
h5 {
    font-size: var(--fs14);
}
h6 {
    font-size: var(--fs12);
}
p {
    font-size: var(--fs16);
}
small {
    font-size: var(--fs12);
}

